@media (max-width: 767px) {
    .navicon {
      width: 1.125em;
      height: .125em;
    }
  
    .navicon::before,
    .navicon::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all .2s ease-out;
      content: '';
      background: #3D4852;
    }
  
    .navicon::before {
      top: 5px;
    }
  
    .navicon::after {
      top: -5px;
    }
  
    .menu-btn:not(:checked) ~ .menu {
      display: none;
    }
  
    .menu-btn:checked ~ .menu {
      display: block;
    }
  
    .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent;
    }
  
    .menu-btn:checked ~ .menu-icon .navicon::before {
      transform: rotate(-45deg);
    }
  
    .menu-btn:checked ~ .menu-icon .navicon::after {
      transform: rotate(45deg);
    }
  
    .menu-btn:checked ~ .menu-icon .navicon::before,
    .menu-btn:checked ~ .menu-icon .navicon::after {
      top: 0;
    }
  }
  
  /* login btn */
  /* From cssbuttons.io by @alexmaracinaru */
.login-btn {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .login-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .login-btn span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .login-btn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .login-btn:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .login-btn:hover svg {
  transform: translateX(0);
 }
 
 .login-btn:active {
  transform: scale(0.95);
 }